# .coveragerc to control coverage.py
[run]
branch = False
# default branch is False
omit =
    # omit anything in a directory anywhere
    */.git/*
    /dist/*
    /installer/*
    */bak/*
    src/bootstrapper.py
    setup.py
    */toml/*
    */chardet/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    def main():

ignore_errors = True
