[[source]]
name = "pypi"
# url = "https://pypi.douban.com/simple"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-qt = "*"
pycodestyle = "*"
yapf = "*"
pyqt5-tools = "*"

[packages]
tomlconfig = ">=1.2.1"
preimport = ">=1.1.0"
codeeditor = ">=1.1.0"
chardet = ">=3.0.4"
qscintilla = ">=2.11.4"
toml = ">=0.10.0"
pyqt5 = ">=5.10.1,<5.14"
pyqt5-sip = ">=12.7,<=12.7.1"

[requires]
python_version = "3.8"
